@model GloomManager.Web.Models.EnemyFormViewModel

<div class="card" style="width:60%">
    <div class="row no-gutters">
        <div class="col-auto">
            <img style="width:225px;height:325px;"
                 src="~/images/enemies/@(Model.Enemy.Name.ToLower().Replace(' ','-')).jpg"
                 alt=""
                 class="img-fluid">
        </div>
        <div class="col">
            <div class="card-block pl-4 pt-2">
                <h4 class="card-title">Stats</h4>
                <div class="card-text">
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Enemy.Type)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Enemy.Type)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Enemy.BaseStats.TotalHealth)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Enemy.BaseStats.TotalHealth)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Enemy.BaseStats.BaseMovement)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Enemy.BaseStats.BaseMovement)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Enemy.BaseStats.BaseAttack)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Enemy.BaseStats.BaseAttack)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Enemy.BaseStats.BaseRange)
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Enemy.BaseStats.BaseRange)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
