@model GloomManager.Web.Models.StatsViewModel

<div>
    <h4>Stats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHealth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHealth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseMovement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseMovement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseAttack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseAttack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseRange)
        </dd>
    </dl>
</div>
