@model IEnumerable<GloomManager.Web.Models.EnemyFormViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Enemy Index</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control"
                   placeholder="Search term..."
                   type="search"
                   name="searchName"
                   value='@(TempData["SearchName"] ?? "")' />
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enemy.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Enemy.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { name = item.Enemy.Name }) |
                    @Html.ActionLink("Details", "Details", new { name = item.Enemy.Name }) |
                    @Html.ActionLink("Delete", "Delete", new { name = item.Enemy.Name })
                </td>
            </tr>
        }
    </tbody>
</table>
